{% extends "base.html" %}
{% block body %}
<div class="container px-5 my-5">
  <div class="row">

      <div class="col-md-6 m-auto">
        <form action="{% url 'register' %}"  method="post" >
          {% csrf_token %}
          <div class="mb-3"  >
            <label for="exampleInputEmail1" class="form-label">Nom </label>
            <input type="text" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your nom with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Prenom</label>
            <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your prenom with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email"  name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mot de pass</label>
            <input type="password" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Numero</label>
            <input type="tel" name="number" placeholder="Numero de telephone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Photo</label>
            <input type="file" name="image" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Date de naissance</label>
            <input type="date" name="date_of_birth" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Lieu de naissance</label>
            <input type="text" name="place_of_birth" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" name="is_visiteur" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Vous etes visiteur</label>
          </div>
   
          <div class="mb-3 form-check">
            <input type="checkbox" name="is_actor" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Habitant</label>
          </div>
   

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit"  onclick="alert('inscription reussit')" class="btn btn-primary">Submit</button>
      </form>
          <div class="test">
              <p>Vous avez un compte  connecter-vous?  <a href="{% url 'login' %}">Créer un compte</a> </p>
          </div>
      </div>
<!--         <div class="col-md-6">
          <img src="https://www.radiofrance.fr/s3/cruiser-production/2022/02/1b5f469a-e5f4-4159-a0ca-cf1a9371ef09/560x315_roses-bouquet-fleurs.jpg" alt="" sizes="" srcset="">
      </div>
-->
  </div>


</div>


{% endblock %}