{% extends "base.html" %}
{% block body %}


    <section class="page_breadcrumbs ds  section_padding_top_65 section_padding_bottom_65">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2> <u> Projet communautaire </u> </h2>
                    <ol class="breadcrumb greylinks">
                        <li class="inactive"> <a href="{% url 'home' %}">Home</a>
                        <li class="active"> projet</li>
                    </ol>

                </div>
            </div>
        </div>
    </section>

    <section id="blog" class="ls section_padding_top_90 section_padding_bottom_110">
        <div class="container">
            <div class="row flex-wrap v-center">
                <div class="col-sm-8 to_animate" data-animation="fadeInRight">
                    <h2 class="section_header">Projet communautaire</h2>
                </div>

                <div class="col-sm-12 topmargin_30">
                    <div class="loop-colors">

                    <!-- ici commence le php -->
                        {% for project in projects%}
                        <article class="post format-small-image to_animate" data-animation="fadeInRight">
                            <div class="side-item side-md content-padding big-padding with_border bottom_color_border left">
                                <div class="row">
                                    <div class="col-md-5 col-lg-4">
                                        <div class="item-media entry-thumbnail"> <img src="{{ project.images }}" alt=""> </div>
                                    </div>
                                    <div class="col-md-7 col-lg-8">
                                        <div class="item-content">
                                            <header class="entry-header">
                                                <h3 class="entry-title small"> <p rel="bookmark">    {{ project.name }}</p> </h3>
                                                <div class="entry-meta inline-content greylinks"> <span>

                                                 </div>
                                            </header>
                                            <div class="entry-content md-content-3lines-ellipsis">
                                                <p><b>Initiateur du projet est</b> :   {{ project.owner_project }} </p><br>

                                            </div>
                                            <div class="entry-content md-content-3lines-ellipsis">
                                             
                                                <p><b>Type du projet </b> :    {{ project.type_project }} </p><br><br><br><br>
                                              
                                            </div>
                                            <div class="entry-content md-content-3lines-ellipsis">

                                                <p> <b>Type du projet </b> : <br>{{ project.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                    </div>
                </div>
            </div></br></br>
            







        </div>
    </section>

</div>
<!-- eof #box_wrapper -->
</div>

{% endblock %}