{% extends "base.html" %}
{% block body %}

			<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>ANNONCES</h2>
							<ol class="breadcrumb greylinks">
								<li> <a href="{% url 'home' %}">
							Home
						</a> </li>
								<li class="active">Annonces</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="ls section_padding_top_100 section_padding_bottom_100 columns_margin_bottom_20">
				<div class="container">
					<div class="row flex-wrap">

                    
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center">
                                {% for annonce in annonces %}
								<div class="item-media"> <img src="https://www.xarala.co/blog/content/images/2022/03/200121-developpeur-web.jpeg" alt=""> </div>
								<div class="item-content">
									<header class="entry-header">
										<h3 class="entry-title small"> <a href="service-single.html"> {{order.job}}</a> </h3>
									</header>
                                    <h3 class="entry-title small"> <a href="service-single.html">{{annonce.prerequisites}}</a> </h3>
                                    <h3 class="entry-title small"> <a href="service-single.html">  {{annonce.space_available}}</a> </h3>
                                    <h3 class="entry-title small"> <a href="service-single.html">  {{annonce.title}}</a> </h3>
                                    <h3 class="entry-title small"> <a href="service-single.html">  {{annonce.content}}</a> </h3>
								</div>
                                {% endfor %}
							</article>
						</div>

                        
					</div>
				</div>
			</section>

		</div>
	
    {% endblock %}