{% extends "base.html" %}
{% block body %}


    <section class="page_breadcrumbs ds  section_padding_top_65 section_padding_bottom_65">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2> <u>MALADIE</u> </h2>
                    <ol class="breadcrumb greylinks">
                        <li class="inactive"> <a href="{% url 'home' %}">ACCUEIL</a>
                        <li class="active">MALADIES ET EPIDEMIES</li>
                    </ol>

                </div>
            </div>
        </div>
    </section>

	<section class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
    
    <!-- ici commence le php -->
                        {% for item in items %}
                        <div class="col-sm-6">
                            <h3>{{ item.name }}</h3>
                            <p>SYMPTOMS :   {{ item.symptoms }}   </p>
                         <p>TRAITEMENTS :   {{ item.traitements }}   </p>
                        </div>
                        {% endfor %}
                        {% for  epidemie in epidemies %}
                        
                        <div class="col-sm-6">
                            <h3>{{ epidemie.name }}</h3>
                            <p>SYMPTOMS :   {{ epidemie.symptoms }}</p>
                         <p>TRAITEMENTS :   {{ epidemie.traitements }}</p>
                         <p>DATE DE DEBUT :  {{ epidemie.date_debut }}</p>
                         <p>DATE DE FIN :   {{ epidemie.date_fin }}</p>
                         <p>NOMBRE DE CAS :   {{ epidemie.nombre_cas }}</p>
                         <p>NOMBRE DE  :   {{ epidemie.nombre_mort }}</p>
                        </div>
                        {% endfor %}

    
    
                    </div>
            </div>
        </div>
    </section>		

</div>
<!-- eof #box_wrapper -->
</div>

{% endblock %}





















