{% extends "base.html" %}
{% block body %}


    <section class="page_breadcrumbs ds  section_padding_top_65 section_padding_bottom_65">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2> <u>MALADIE</u> </h2>
                    <ol class="breadcrumb greylinks">
                        <li class="inactive"> <a href="{% url 'home' %}">ACCUEIL</a>
                        <li class="active">MALADIES ET EPIDEMIES</li>
                    </ol>

                </div>
            </div>
        </div>
    </section>

	<section class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
    
    <!-- ici commence le php -->
                        {% for item in items %}
                        <div class="col-sm-6">
                            <h3>{{ item.nom }}</h3>
                            <p>SYMPTOMS :   {{ item.symptoms }}   </p>
                         <p>TRAITEMENTS :   {{ item.traitements }}   </p>
                        </div>
                        {% endfor %}
     
                    </div>
            </div>
        </div>
    </section>		

</div>
<!-- eof #box_wrapper -->
</div>

{% endblock %}
















