{% extends "base.html" %}
{% block body %}

									
			<section class="page_breadcrumbs ds  section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>EMPLOYES</h2>
							<ol class="breadcrumb greylinks">
								<li> <a href="{% url 'home' %}">
							Home
						</a> </li>
								<li class="inactive">VOIR DEMANDES</li>
								<li class="active">DEMANDE</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="ls section_padding_top_100 section_padding_bottom_100 columns_margin_bottom_20">
				<div class="container">
					<div class="row flex-wrap">
						{% for demande in demandes %}
						<div class="col-md-4 col-sm-6">	
							<article class="vertical-item content-padding big-padding with_border bottom_color_border loop-color text-center"> 
								<div class="item-media"> <img src="{{ demande.image }}" alt=""> </div>
								<div class="item-content">
									<header class="entry-header">
										<h3 class="entry-title small"> 
                                            <a href="service-single.html"> {{demande.nom}}</a> 
                                        </h3>
										<p class="entry-title small"> 
                                            <a href="service-single.html"> {{demande.prenom}}</a> 
                                        </p>
									</header>
                                    <a type="button" href="{% url 'detail' demande.id  %}"  class="btn btn-info">Info</a>
								</div>                               
							</article>						
						</div>
						{% endfor %}
                        
					</div>
				</div>
			</section>


		</div>
		<!-- eof #box_wrapper -->
	</div>

    {% endblock %}