{% extends "base.html" %}
{% block body %}

    <section class="page_breadcrumbs ds section_padding_top_65 section_padding_bottom_65">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>EMPLOYE</h2>
                    <ol class="breadcrumb greylinks">
                        <li> <a href="{% url 'home' %}">
                                Home
                            </a> </li>
                        <li class="inactive">DEMANDE EMPLOYE</li>
                        <li class="active">DEMANDER</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <form class="shop-register" role="form" action="{% url 'demande' %}" method="post">
                        {% csrf_token %}
                        <div class="col-sm-6">
                            <div class="form-group validate-required" id="nom"> <label for="nom"
                                    class="control-label">
                                    <span class="grey">Nom :</span>
                                    <span class="required">*</span>
                                </label> <input type="text" class="form-control " name="nom" id="nom"
                                    placeholder="Nom">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group validate-required" id="prenom"> <label for="prenom"
                                    class="control-label">
                                    <span class="grey">Prénom :</span>
                                    <span class="required">*</span>
                                </label> <input type="text" class="form-control " name="prenom" id="prenom"
                                    placeholder="Prenom">
                            </div>
                        </div>
                
                        <div class="col-sm-4">
                            <div class="form-group"> <label for="niveau_etude" class="niveau_etude-label">
                                    <span class="grey">Niveau D'etude:</span>
                                    <span class="required">*</span>
                                </label> <select name="niveau_etude" id="niveau_etude">
                                    <option value="Aucun">Aucun</option>
                                    <option value="Primaire">Primaire</option>
                                    <option value="Secondaire">Secondaire</option>
                                    <option value="BAC + 1">BAC + 1</option>
                                    <option value="BAC + 2">BAC + 2</option>
                                    <option value="Licence">Licence</option>
                                    <option value="Maitrise">Maitrise</option>
                                    <option value="Master">Master</option>
                                </select> </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"> <label for="dernier_diplome" class="control-label">
                                    <span class="grey">Dernier diplome:</span>
                                    <span class="required">*</span>
                                </label> <select name="dernier_diplome" id="dernier_diplome">
                                    <option value="AUCUN">AUCUN</option>
                                    <option value="">CEP</option>
                                    <option value="BEPC">BEPC</option>
                                    <option value="BAC">BAC</option>
                                    <option value="BAC + 1">BAC + 1</option>
                                    <option value="BAC + 2">BAC + 2</option>
                                    <option value="Licence">Licence</option>
                                    <option value="Maitrise">Maitrise</option>
                                    <option value="Master">Master</option>
                
                                </select> </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"> <label for="numero" class="control-label">
                                    <span class="grey">Votre numero:</span>
                                    <span class="required">*</span>
                                </label> <input type="text" class="form-control " name="numero" id="numero"
                                    placeholder="Votre numero ou vos "></div>
                
                
                        </div>
        
                        <div class="col-sm-6">
                            <div class="form-group validate-required" id="competence"> <label for="competence" class="control-label">
                                    <span class="grey">Qualification/Competences</span>:</span>
                                    <span class="required">*</span>
                                </label> <input type="text" class="form-control " name="competence" id="competence"
                                    placeholder="Vos  qualification(s)/ compétence(s)">
                            </div>
                        </div>
            
        
                        <div class="col-sm-6">
                            <div class="form-group validate-required" id="image"> <label for="image" class="control-label">
                                    <span class="grey">Votre photo:</span>
                                    <span class="required">*</span>
                                </label> <input type="file" class="form-control " name="image" id="image"
                                    placeholder="Une photo de vous ou votre activité">
                            </div>
                        </div>
            
        
                        <div class="col-sm-6">
                            <div class="form-group validate-required" id="metier"> <label for="metier" class="control-label">
                                    <span class="grey">Metier:</span>
                                    <span class="required">*</span>
                                </label> <input type="text" class="form-control " name="metier" id="metier"
                                    placeholder="metier souhaiter">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group validate-required" id="email"> <label for="email" class="control-label">
                                <div class="form-group validate-required" id="contenu"> <label for="email" class="control-label">
                                    <span class="grey">Email:</span>
                                    <span class="required">*</span>
                                </label> <input type="text" class="form-control " name="email" id="email"
                                    placeholder="Votre email">
                            </div>
                        </div>
            
                        <div class="col-sm-12">
                            <div class="form-group validate-required" id="contenu"> <label for="contenu" class="control-label">
                                <div class="form-group validate-required" id="contenu"> <label for="contenu" class="control-label">
                                    <span class="grey">Message:</span>
                                    <span class="required">*</span>
                                </label> <input type="text" class="form-control " name="contenu" id="contenu"
                                    placeholder="message pour appuyer votre demande ou proposition">
                            </div>
                        </div>
            

            
        
                        <div class="col-sm-6"> <button type="submit" class="theme_button color1 topmargin_30">S'inscrire</button> <button type="reset" class="theme_button">Clear Form</button> </div>
                </form>
    
            </div>
        </div>
    </section>


</div>
<!-- eof #box_wrapper -->
</div>

{% endblock %}