{% extends "base.html" %}
{% block body %}


    <section class="page_breadcrumbs ds  section_padding_top_65 section_padding_bottom_65">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2> <u>EMPLOYE</u> </h2>
                    <ol class="breadcrumb greylinks">
                        <li class="inactive"> <a href="{% url 'home' %}">Home</a>
                        <li class="inactive">Voir demande</li>
                        <li class="inactive">Demande</li>
                        <li class="active">Detail</li>
                    </ol>

                </div>
            </div>
        </div>
    </section>

			
    <section class="ls section_padding_top_100 section_padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-12 ">
                    <div class="clearfix"></div>
                    <div class="table-responsive">
                        <table class="table_template darklinks" id="timetable">
                            <thead>
                                <h2>Ma demande</h2>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Niveau d'etude</th>
                                    <th>Dernier diplome</th>
                                    <th>Competence</th>
                                    <th>NUMERO</th>
                                    <th>Metier</th>
                                    <th>Description</th>      
                                </tr>
                            </thead>
                            <tbody>
                                 <!-- ici commence le php -->
                                                    
                                 <tr>
                                    <td> <a href="event-single-left.html" class="meetings">{{ demande.nom}}</a> </td>
                                    <td> <a href="event-single-left.html" class="">{{ demande.prenom}}</a> </td>
                                    <td>{{ demande.niveau_etude}}</td>
                                    <td>{{ demande.dernier_diplome}}</td>
                                    <td>{{ demande.competence}}</td>
                                    <td>{{ demande.numero}}</td>
                                    <td>{{ demande.metier }}</td>
                                    <td>{{ demande.contenu}}</td>
                                </tr>
   
                            <!-- Fin php -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- eof #box_wrapper -->
</div>

{% endblock %}